<!doctype html>
<html>

<head>
  <title>Subaslata Cinema</title>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">
  {% if status=="Executed" %}
  <div class="alert alert-success" role="alert" id="movieCreatedSuccess">
    Pelicula Creada
  </div>
  {% endif %}
  <nav class="navbar navbar-expand-sm bg-light justify-content-center fixed-top my-5">
    <ul class="navbar-nav">
      <li class="nav-item px-2">
        <a class="nav-link" href="#home">Home</a>
      </li>
      <li class="nav-item px-2">
        <a class="nav-link" href="#movies">Movies</a>
      </li>
      <li class="nav-item px-2">
        <a class="nav-link" href="#images">Images</a>
      </li>
    </ul>
  </nav>

  <div id="home" class="container bg-info paddingForBox">
    <h1>Cinema</h1>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="{{ url_for('static', filename='general.jpg') }}" alt="First slide" width="500" height="400">
        </div>
        {% for item in items %}
        <div class="carousel-item">
          <img src="{{ item.imageUrl }}" alt="{{ item.nameMovie }}" width="500" height="400">
        </div>
        {% endfor %}
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <div id="movies" class="container bg-secondary paddingForBox">

    <h1 class="text-light">Agregar Pelicula</h1>
    <form action="/addMovie" method="POST">
      <div class="form-group">
        <label for="codeMovie">Código:</label>
        <input type="text" class="form-control" name="codeMovie" id="codeMovie">
      </div>
      <div class="form-group">
        <label for="nameMovie">Nombre:</label>
        <input type="text" class="form-control" name="nameMovie" id="nameMovie">
      </div>
      <div class="form-group">
        <label for="description">Descripción</label>
        <textarea name="description" id="description" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <label for="gender">Genero:</label>
        <input type="text" class="form-control" name="gender" id="gender">
      </div>
      <button type="submit" class="btn btn-success">Guardar</button>
    </form>
  </div>

  <div id="images" class="container bg-warning paddingForBox">
    <h1 class="text-light">Agregar Imagen a Pelicula</h1>
    <form action="/addImage" method="POST" enctype="multipart/form-data">

      <div class="form-group">
        <label for="idMovie">Movies</label>
        <select name="idMovie" id="idMovie">
          <option value="">Select</option>
          {% for movie in items %}
          <option value="{{ movie.id }}">{{movie.nameMovie}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <label for="image">Cover Image</label>
        <input type="file" name="image" id="image" class="form-control" />
      </div>

      <div class="form-group d-none">
        <label for="imageUrl">Cover Image URL</label>
        <input type="text" name="imageUrl" id="imageUrl" value="" class="form-control" />
      </div>

      <button type="submit" class="btn btn-success">Guardar</button>
    </form>
  </div>

</body>
<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>

</html>